@font-face {
    font-family: 'Jakarta-Sans';
    font-weight: 400;
    src: url('src/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Jakarta-Sans';
    font-weight: 700;
    src: url('src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
#root {
    font-family: 'Jakarta-Sans';
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2em;
    @media (max-width:800px) {
        padding: 0;
    }
    width: 75%;
    @media (max-width:800px) {
        width: 100%;
    }
}
body {
    background-color: #e4f4fd;
    box-sizing: border-box;
    font-family: 'Jakarta-Sans';
}
main {
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width:1100px) {
        flex-direction: column;
    }
    @media (max-width:800px) {
        border-radius: 0;
        min-width: none;
    }
    div.wrapper {
        width: 1500px;
        @media (max-width:1100px) {
            width: 100%;
        }
        @media (max-width:800px) {
            width: 100%;
        }
    }
    section {
        h1 {
            font-size: 30px;
            margin: 0;
        }
        label {
            font-size: 18px;
        }
    }
}