$darkblue: hsl(202, 55%, 16%);
$lighterblue: hsl(202, 86%, 94%);
$borderLineBlue: hsl(200, 26%, 54%);
$lightblue: hsl(200, 24%, 40%);
$yellowgreen: hsl(61, 70%, 52%);
section.calculation-section {
    color: $darkblue;
    height: 100%;
    margin: 35px 50px;
    header { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h2 {
            margin: 0;
        }
        .clear-all {
            background-color: #fff;
            border-bottom: 1px solid $lightblue;
            border-radius: 0;
            color: $darkblue;
            font-size: 16px;
            padding: 0;
            padding-bottom: 2px;
            cursor: pointer;
            &:hover {
                background-color: #eee;
                border-top: 1px solid #eee;
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
            }
        }
    }
    form {
        .error {
            color: red;
            font-size: 16px;
            margin-top: 5px;
        }
        label {
            color: $lightblue;
            margin-bottom: 30px;
        }
        #mortgageAmountContainer {
            display: flex;
            width: 100%;
            margin-top: 5px;
            div {
                flex: 0.2;
                background-color: $lighterblue;
                border-top: 1px solid $borderLineBlue;
                border-left: 1px solid $borderLineBlue;
                border-bottom: 1px solid $borderLineBlue;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #mortgageAmount {
                border-top: 1px solid $borderLineBlue;
                border-right: 1px solid $borderLineBlue;
                border-bottom: 1px solid $borderLineBlue;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                flex: 1;
                padding: 20px;
                &:focus {
                    border-top: 1px solid $yellowgreen;
                    border-right: 1px solid $yellowgreen;
                    border-left: none;
                    border-bottom: 1px solid $yellowgreen;
                    outline: none;
                }
            }
        }
        .term-and-rate {
            box-sizing: border-box;
            display: flex;
            @media (max-width: 800px) {
                display: block;
            }
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
            div {
                div.input-group {
                    display: flex;
                    margin-top: 5px;
                    input {
                        border-top: 1px solid $borderLineBlue;
                        border-left: 1px solid $borderLineBlue;
                        border-bottom: 1px solid $borderLineBlue;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        width: 100%;
                        @media (max-width: 800px) {
                            width: 100%;
                        }
                        &:focus {
                            border-top: 1px solid $yellowgreen;
                            border-left: 1px solid $yellowgreen;
                            border-bottom: 1px solid $yellowgreen;
                            outline: none;
                            div {
                                background-color: $yellowgreen;
                            }
                        }
                    }
                    div {
                        background-color: $lighterblue;
                        border-top: 1px solid $borderLineBlue;
                        border-right: 1px solid $borderLineBlue;
                        border-bottom: 1px solid $borderLineBlue;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 20px;
                    }
                }
            }
        }
        input {
            font-size: 18px;
            font-weight: bold;
            width: 100px;
        }
        input[type=number] {
            border: none;    
            background-color: #fff;
            color: hsl(202, 55%, 16%);
            font-size: 20px;
            padding: 20px;
            transition: border 0.2s ease;
        }
        // remove button spinners on number inputs
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        input[type=number] {
            appearance: none;
            -moz-appearance: textfield;
        }
        div.mortgage-type {
            margin-top: 20px;
            margin-bottom: 20px;
            .mortgage-type-label {
                color: hsl(202, 55%, 16%, 0.8);
                font-size: 18px;
                margin-bottom: 5px;
                margin-top: 0;
            }
            .radio-div {
                border: 1px solid $borderLineBlue;
                border-radius: 4px;
                display: flex;
                align-items: center;
                padding: 10px;
                margin-bottom: 5px;
                &:checked {
                    background-color: $darkblue;
                }
            }
            input[type=radio] {
                border: 1px solid $borderLineBlue;
            }
            .custom-radio {
                appearance: none;
                -webkit-appearance: none;
                background-color: #fff;
                border: 1px solid $darkblue;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 10px;
                position: relative;
                cursor: pointer;
            }
            p.radio-text {
                font-size: 18px;
                margin: 0;
                margin-left: 10px;
            }
            span {
                font-size: 18px;
            }
        }
        .submit {
            background-color: $yellowgreen;
            border: 1px solid $yellowgreen;
            border-radius: 25px;
            color: $darkblue;
            font-size: 18px;
            padding: 18px;
            transition: background-color 0.2s ease;
            img {
                position: relative;
                top: 5px;
                margin-right: 5px;
            }
            &:hover {
                background-color: hsl(61, 70%, 52%, 0.5);
                border: 1px solid hsl(61, 70%, 52%, 0.5);
                color: $darkblue;
            }
        }
    }
}

