section.results-section {
    background-color: hsl(202, 55%, 16%);
    border-bottom-left-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    // remove result section bottom left corner styling when
    // flex-direction changes orientation from row to column
    @media (max-width:1100px) {
        border-bottom-left-radius: 0;
    }
    img {
        max-width: 400px;
        margin: 0 auto;
    }
    p {
        color: #b0c2e7;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 24px;
        margin: 0;
        text-align: center;
    }
    div.results-div {
        background-color: #2b2b2b;
        border-radius: 4px;
        border-top: 3px solid yellowgreen;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 30px;
        width: 80%;
        span.monthly-repayments {
            color: yellowgreen;
            font-size: 60px;
            margin-bottom: 20px;
        }
        div.divider {
            border-bottom: 1px solid #ccc;
            margin: 20px 0 30px 0;
        }
        span.total {
            font-size: 35px;
        }
    }
}